[submodule "rugged_environments/ICRA2024_Quadruped_Robot_Challenges"]
	path = rugged_environments/ICRA2024_Quadruped_Robot_Challenges
	url = https://github.com/teamgrit-lab/ICRA2024_Quadruped_Robot_Challenges.git
